################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrdSpel2
/bin/Debug/net8.0-windows
/obj
/.vs/ProjectEvaluation/ordspel2.metadata.v9.bin
/.vs/ProjectEvaluation/ordspel2.projects.v9.bin
/.vs/ProjectEvaluation
/.vs/BrainStorm
/.vs/BrainStorm/v17/.suo
/.vs/BrainStorm/v17/DocumentLayout.backup.json
/.vs/BrainStorm/v17/DocumentLayout.json
/bin/Release/net8.0-windows/BrainStorm.dll
/bin/Release/net8.0-windows/BrainStorm.exe
/bin/Release/net8.0-windows/BrainStorm.pdb
/bin/Release/net8.0-windows/memory.txt
/bin/Release/net8.0-windows/BrainStorm.deps.json
/bin/Release/net8.0-windows/BrainStorm.runtimeconfig.json
/bin/Release/net8.0-windows/NAudio.Asio.dll
/bin/Release/net8.0-windows/NAudio.Core.dll
/bin/Release/net8.0-windows/NAudio.dll
/bin/Release/net8.0-windows/NAudio.Midi.dll
/bin/Release/net8.0-windows/NAudio.Wasapi.dll
/bin/Release/net8.0-windows/NAudio.WinForms.dll
/bin/Release/net8.0-windows/NAudio.WinMM.dll
/bin/Release/net8.0-windows/settings.txt
/bin/Release/net8.0-windows/cs
/bin/Release/net8.0-windows/de
/bin/Release/net8.0-windows/es
/bin/Release/net8.0-windows/fr
/bin/Release/net8.0-windows/it
/bin/Release/net8.0-windows/ja
/bin/Release/net8.0-windows/ko
/bin/Release/net8.0-windows/Microsoft.ApplicationInsights.dll
/bin/Release/net8.0-windows/Microsoft.Testing.Extensions.MSBuild.dll
/bin/Release/net8.0-windows/Microsoft.Testing.Extensions.Telemetry.dll
/bin/Release/net8.0-windows/Microsoft.Testing.Extensions.TrxReport.Abstractions.dll
/bin/Release/net8.0-windows/Microsoft.Testing.Extensions.VSTestBridge.dll
/bin/Release/net8.0-windows/Microsoft.Testing.Platform.dll
/bin/Release/net8.0-windows/Microsoft.TestPlatform.CoreUtilities.dll
/bin/Release/net8.0-windows/Microsoft.TestPlatform.PlatformAbstractions.dll
/bin/Release/net8.0-windows/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/bin/Release/net8.0-windows/nunit.engine.api.dll
/bin/Release/net8.0-windows/nunit.engine.core.dll
/bin/Release/net8.0-windows/nunit.engine.dll
/bin/Release/net8.0-windows/nunit.framework.dll
/bin/Release/net8.0-windows/nunit.framework.legacy.dll
/bin/Release/net8.0-windows/NUnit3.TestAdapter.dll
/bin/Release/net8.0-windows/NUnit3.TestAdapter.pdb
/bin/Release/net8.0-windows/pl
/bin/Release/net8.0-windows/pt-BR
/bin/Release/net8.0-windows/ru
/bin/Release/net8.0-windows/testcentric.engine.metadata.dll
/bin/Release/net8.0-windows/tr
/bin/Release/net8.0-windows/zh-Hans
/bin/Release/net8.0-windows/zh-Hant
/bin/Release/net8.0-windows/wav/NATO
