################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrdSpel2
/bin/Debug/net8.0-windows
/obj
/.vs/ProjectEvaluation/ordspel2.metadata.v9.bin
/.vs/ProjectEvaluation/ordspel2.projects.v9.bin
/.vs/ProjectEvaluation
/.vs/BrainStorm
/.vs/BrainStorm/v17/.suo
/.vs/BrainStorm/v17/DocumentLayout.backup.json
/.vs/BrainStorm/v17/DocumentLayout.json
/bin/Release/net8.0-windows/BrainStorm.dll
/bin/Release/net8.0-windows/BrainStorm.exe
/bin/Release/net8.0-windows/BrainStorm.pdb
/bin/Release/net8.0-windows/memory.txt
