################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrdSpel2
/bin/Debug/net8.0-windows
/obj
/.vs/ProjectEvaluation/ordspel2.metadata.v9.bin
/.vs/ProjectEvaluation/ordspel2.projects.v9.bin
/.vs/ProjectEvaluation
/.vs/BrainStorm
/.vs/BrainStorm/v17/.suo
/.vs/BrainStorm/v17/DocumentLayout.backup.json
/.vs/BrainStorm/v17/DocumentLayout.json
/bin/Release/net8.0-windows/BrainStorm.dll
/bin/Release/net8.0-windows/BrainStorm.exe
/bin/Release/net8.0-windows/BrainStorm.pdb
/bin/Release/net8.0-windows/memory.txt
/bin/Release/net8.0-windows/BrainStorm.deps.json
/bin/Release/net8.0-windows/BrainStorm.runtimeconfig.json
/bin/Release/net8.0-windows/NAudio.Asio.dll
/bin/Release/net8.0-windows/NAudio.Core.dll
/bin/Release/net8.0-windows/NAudio.dll
/bin/Release/net8.0-windows/NAudio.Midi.dll
/bin/Release/net8.0-windows/NAudio.Wasapi.dll
/bin/Release/net8.0-windows/NAudio.WinForms.dll
/bin/Release/net8.0-windows/NAudio.WinMM.dll
/bin/Release/net8.0-windows/settings.txt
